
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poiret One', cursive;
}

*::selection{
    color: rgb(112, 9, 208);
    background: rgb(183, 102, 224);
}

section {
    width: 100%;
    height: 700px;
}

.hero {
    background-color: rgb(55, 52, 52);
    color: white;
}

#logo {
    font-size: 68px;
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    transition: .4s;
}

#logo::selection{
    color: darkmagenta;
    background: rgb(231, 196, 255);
}

#logo:hover{
    color: rgb(168, 94, 237);
    transform: scale(1.2);
}

.links {
    background-color: rgb(48, 45, 45);
}

.projects {
    background-color: rgb(55, 52, 52);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 36%;
    padding-right: 30%;
    cursor: pointer;
    font-size: 20px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 18px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: blueviolet;
    transition: .4s;
}

#links{
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    transition: .4s;
    color: white;
}

#links::selection{
    color: darkmagenta;
    background: rgb(231, 196, 255);
}

#links:hover{
    color: rgb(168, 94, 237);
    transform: scale(1.2);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    cursor: pointer;
}

.card{
    height: 350px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(74, 71, 71);
    border-radius: 20px;
    margin: 45px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    transition: .4s;
}

.pra p{
    color: white;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 25px;
    text-decoration: none;

}

.pra p a{text-decoration: none; color: white;}

.pra p a:hover{
    color: darkviolet; 
    transition: .4s;
}

h5:hover{
    color: darkviolet;
    transform: scale(1.2);
}

#projects {
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    transition: .4s;
    color: white;
}

#projects::selection{
    color: darkmagenta;
    background: rgb(231, 196, 255);
}

#projects:hover{
    color: rgb(168, 94, 237);
    transform: scale(1.2);
}



/*

    developed with heart by aki. <3 
    aki's development.   2022

    index : 
       - index.html
    style : 
       - design.css

*/
